:root {
  --violet: #5463d0;
}

.btn-patient,
.btn-patient:focus,
.btn-patient:active {
  background-color: var(--violet);
  color: white;
  font-family: poppins;
}
.Vtitle-patient-name {
  color: var(--violet);
}
#add-patient {
  color: var(--violet);
}
#btn-close {
  font-family: poppins;
}
.red {
  color: red;
}

input[type="radio"] {
  transform: scale(1.5);
}

#calendar-img {
  width: 25px;
}
.flatpickr-wrapper {
  width: 100%;
}
.date {
  margin-top: 2px;
  border: 1px solid gray;
  padding-left: 10px;
  border-radius: 5px;
  width: 100%;
}
.slash {
  margin-top: 2px;
  transform: scale(1.5);
}
#patient-name,
#patient-id {
  width: 100%;
}
.spacing {
  opacity: 0;
}
.patient-pressure {
  width: 102px;
}
select {
  text-indent: 3px;
  padding: 3px;
}

input {
  padding-left: 7px;
}
.form-container {
  margin-bottom: 1cm;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.accordion-button {
  font-weight: 600 !important;
  font-size: large;
}
.question-title {
  font-size: 1.5rem;
}
.question {
  margin-bottom: 30px;
  margin-left: 20px;
}

.question input[type="radio"],
.question input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 15px;
}

#medical-history-survey input {
  transform: scale(1.2);
}

.toast {
  z-index: 99999 !important;
}
.hide {
  display: none;
}
.box {
  margin-top: -1px;
  margin-left: 10rem;
  width: 400px;
  height: 40px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
  border: solid 1px gray;
}

.box > i {
  font-size: 20px;
  color: #777;
}

.box > input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}

#search-icon {
  width: 20px;
}
