:root {
  --violet: #5463d0;
}
.btn-patient,
.btn-patient:focus,
.btn-patient:active {
  background-color: var(--violet);
  color: white;
  font-family: poppins;
}

#add-patient {
  color: var(--violet);
}
#btn-close {
  font-family: poppins;
}
.red {
  color: red;
}

input[type="radio"] {
  transform: scale(1.5);
}

#calendar-img {
  width: 25px;
}
.date {
  margin-top: 1px;
  border: 1px solid gray;
  padding-left: 10px;
  border-radius: 5px;
  width: 100%;
}
.slash {
  margin-top: 2px;
  transform: scale(1.5);
}
#patient-name,
#patient-id {
  width: 100%;
}
.spacing {
  opacity: 0;
}
.patient-pressure {
  width: 102px;
}
